.#recentf
.DS_Store
ac-comphist.dat
auto-save-list/
custom.el
elpa/
eshell/
projectile-bookmarks.eld
recentf
savehist
emojis
url
tramp
.savehist
SessionDesktop.el
anaconda-mode/
bookmarks
docsets/
var/
.custom.el
snippets
transient/